/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#contact-header-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/connect/contact.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

#contact-body-container {
    #volume-warning {
        margin-bottom: 60px;
        margin-top: 60px;
    }

    #contact-form-container {
        margin-bottom: 60px;

        form {
            .contact-form-row {
                margin-bottom: 15px;
            }

            .g-recaptcha {
                display: inline-block;
                margin: auto;
            }
        }
    }

    #join-social-links {
        img {
            height: 32px;
        }

        a {
            color: $ecc-blue-grey;
            font-size: 14px;

            &:hover {
                color: $ecc-blue-grey;
                text-decoration: none;
            }
        }
    }
}