/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#messaging-title-container {
    background-image: url('/website/assets/img/background/about/messaging.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#messaging-body-container {
    background-image: url('/website/assets/img/background/about/messaging_footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .animation {
        height: 90px;
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    #messaging-body-container {
        .detail {
            margin-bottom: 60px;
        }
    }
}