/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#name-resolution-title-container {
    background-image: url('/website/assets/img/background/about/name_resolution.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#name-resolution-body-container {
    background-image: url('/website/assets/img/background/about/name_resolution_footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .animation {
        margin-top: 60px;
    }
}