/**
 * ecc.network
 *
 * @copyright Project ECC
 */

#coin-overview-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/about/overview.png');
    background-position: top;
    background-repeat: no-repeat;
}

#coin-attributes {
    h2 {
        margin-bottom: 60px;
    }

    h3 {
        padding-bottom: 15px;
    }

    p {
        font-size: 18px;
    }

    .animation {
        height: 90px;
        margin-bottom: 20px;
    }
}

#market-details {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/about/market_details.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        color: $ecc-white;
        margin-bottom: 60px;
    }

    legend {
        @extend .caps;
        border-bottom: 2px solid $ecc-orange;
        color: $ecc-white;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;

        > #refresh-market-details-btn {
            color: $ecc-orange;
            cursor: pointer;
            position: absolute;
            right: 25px;
            top: 3px;
        }
    }

    .market-detail {
        .currency-symbol,
        .currency-value {
            font-size: 35px;
        }

        .currency-symbol {
            color: $ecc-orange;
        }

        .currency-value {
            color: $ecc-white;
        }

        .currency {
            @extend .caps;
            font-size: 20px;
        }

        > p {
            margin-bottom: -5px;
        }

        &.supply {
            .currency,
            .currency-symbol {
                display: none;
            }
        }
    }
}

#earn-coins {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/about/earn_coins.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;

    #coin-facts-container {
        display: flex;
        margin: 0 auto 60px;
        max-width: 600px;
        padding-left: 100px;

        #facts-logo {
            display: inline-block;
            height: 210px;
            padding-right: 0;
            z-index: 1;
        }

        #facts-container {
            display: inline-block;
            padding-left: 0;

            .ecc-fact {
                background: $ecc-grey-light;
                background: linear-gradient(to right, $ecc-grey-light-rgba-opaque, $ecc-grey-light-rgba-transparent);
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                height: 35px;
                line-height: 35px;
                margin-left: -5px;
                margin-top: 53px;
                padding-left: 15px;
                padding-right: 30px;
                text-align: left;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }

    #ecc-badge {
        background: $ecc-white;
        width: 100px;
    }

    .section-title {
        border-bottom: 0;
        font-size: 44px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    #market-details {
        .market-detail-container {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 768px) {
    #earn-coins {
        #coin-facts-container {
            padding-left: 0;

            #facts-container {
                .ecc-fact {
                    font-size: 16px;
                    line-height: 32px;
                }
            }
        }
    }
}
