/** 
 * ecc.network
 * 
 * @copyright Project ECC
 */

#our-team-header-container {
    background-image: url('/website/assets/img/background/about/team.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#our-team-overview-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/about/team_overview.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 0;
}

#our-team-members-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/about/team_members.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#our-team-overview-container,
#our-team-members-container {
    text-align: center;

    .team-detail {
        margin-top: 60px;

        &:first-of-type {
            margin-top: 0;
        }

        > h2 {
            margin-bottom: 45px;
        }

        > p {
            text-align: left;
        }

        &.team-members {
            .discipline {
                margin-bottom: 60px;

                > h3 {
                    border-bottom: 2px solid $ecc-blue-grey;
                    display: inline-block;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 40px;
                    padding: 0 5px;
                }
            }
            
            .row {
                margin-bottom: 60px;
            }
        }
    
        .partner {
            img {
                width: 80%;
            }

            &.twoohonelabs img {
                height: 100px;
                width: auto;
            }

            &.amplitudo img {
                width: 100%;
            }

            &.incrementors img {
                margin-top: 35px;
                width: 100%;
            }
    
            &.video4commerce img {
                height: 100px;
            }
            
            &.thebullpenpodcast img {
                height: 100px;
                width: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    #our-team-members-container {
        .team-detail {
            &.team-members {
                .discipline {
                    .row {
                        margin-bottom: 0;

                        .team-member {
                            margin-bottom: 30px;
                        }
                    }
                }
            }

            .partner.amplitudo, 
            .partner.incrementors,
            .partner.twoohonelabs,
            .partner.video4commerce,
            .partner.thebullpenpodcast {
                margin-bottom: 30px;

                img {
                    margin-top: 0;
                    width: 35%;
                }
            }

            .partner.twoohonelabs,
            .partner.thebullpenpodcast {
                img {
                    width: auto;
                }
            }
        }
    }
}
