/**
 * ecc.network
 *
 * @copyright Project ECC
 */

#app-download-container {
    margin-bottom: 60px;

    .nav-tabs {
        border-bottom: 0;
        margin-bottom: 30px;

        .nav-item {
            width: 33% !important;

            .nav-link {
                @extend .caps;

                background: transparent;
                border: 0;
                color: darken($ecc-grey-light, 15%);
                font-weight: 700;
                padding: 0 1rem;

                &.active {
                    border-bottom: 0 !important;
                    color: $ecc-blue-grey;
                }

                img {
                    height: 64px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .btn {
        margin-bottom: 30px;
    }
}

#wallet-container {
    background-attachment: fixed;
    background-image: url('/website/assets/img/background/what_is_ecc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;

    h1 {
        margin-bottom: 30px;
    }

    #ecc-description-container {
        height: 190px;
        margin-bottom: 15px;
        overflow-y: hidden;
        text-align: justify;

        > #ecc-description {
            color: white;
            font-weight: 300;
            padding-left: 0;
        }

        > #ecc-read-more-trigger {
            text-align: right;
        }
    }
}

@media (max-width: 1200px) {
    #wallet-container {
        #ecc-description-container {
            height: 180px;
        }
    }
}
