/**
 * ecc.network
 *
 * @copyright Project ECC
 */

 #lynx-title-container {
}

#lynx-wallet-container {
    background-color: $ecc-grey-light;
    background-image: url('/website/assets/img/background/wallet.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    .lynx-description {
        margin-bottom: 30px;
    }

    #lynx-download-container {
        margin-bottom: 60px;

        #download-platform-tabs {
            margin-bottom: 30px;

            .nav-item {
                width: 33%;

                .nav-link {
                    &.active {
                        border-bottom: 0;
                    }

                    img {
                        height: 64px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    .lynx-preview-img {
        border-radius: 4px;
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    #lynx-title-container h2 {
        background: rgba(255, 255, 255, .5);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        max-width: 265px;
        padding-right: 10px;
    }
}
