{% include _header.html %}

<section id="our-team-header-container">
	<div class="container">
        <h1 class="fade-in">Docs</h1>
    </div>
</section>

<section id="our-team-overview-container">
    <div class="container">
		<p>Note: The docs are currently incomplete but information they contain should be accurate.</p>
        <div class="team-detail">
            <h2 class="section-title">ECC</h2>
            <ul>
				<li>
					<a href="https://gitlab.com/ecc-network/ecc-wiki" target="_blank">All Documentation</a>
				</li>
				<li>
					<a href="https://gitlab.com/ecc-network/ecc-wiki/-/blob/master/overview.md" target="_blank">Overview</a>
				</li>
			</ul>
        </div>

        <div class="team-detail">
            <h2 class="section-title">Roam</h2>
            <ul>
				<li>
					<a href="https://gitlab.com/ecc-network/roam-wiki" target="_blank">All Documentation</a>
				</li>
			</ul>
			<br/>
        </div>
    </div>
</section>

{% include _footer.html %}
