{% include _header.html %}

<section id="donate-header-container">
	<div class="container">
        <h1 class="fade-in">Donate</h1>
        <h2 class="subtitle">Help fund our growth</h2>
    </div>
</section>

<section id="donate-body-container">
    <div class="container">
        <div class="dev-fund-container text-center">
            <h2 class="section-title">Development Fund</h2>
            <p class="dev-fund-desc">The developer fund is used to cover many of the expenses that are incurred while developing ecc. Currently all of these expenses are paid for out of pocket by the dev team.<br>These include but are not limited to paying for github services, website hosting, services like blockexplorers, research, and development in general.<br>We would like to offer the ability to donate directly to the developers and do appreciate any amount you may want to contribute. <span class=\"text-danger\">*</span> Any donations received are used at the discretion of the Eccoin development team.</p>
			<div class="row donation-addresses-container">
				<div class="input-group">
					<div class="input-group-prepend">
            			<div class="input-group-text">
							<img class="crypto-icon" src="{{ "/assets/img/btc.svg" | prepend: site.baseurl }}" title="BTC" data-toggle="tooltip">
						</div>
					</div>
					<input type="text" class="form-control donation-address-input" readonly value="1LwAKnUUZhdG8xqWKmjaRi9xs9BpETMRU5">
				</div>
			</div>
			<div class="row donation-addresses-container">
				<div class="input-group">
					<div class="input-group-prepend">
            			<div class="input-group-text">
							<img class="crypto-icon" src="{{ "/assets/img/bch.svg" | prepend: site.baseurl }}" title="BCH" data-toggle="tooltip">
						</div>
					</div>
					<input type="text" class="form-control donation-address-input" readonly value="14WLE4mzFxbDCa4sXvnx4EYeBz4jmScCDJ">
				</div>
			</div>
			<div class="row donation-addresses-container">
				<div class="input-group">
					<div class="input-group-prepend">
            			<div class="input-group-text">
							<img class="crypto-icon" src="{{ "/assets/img/ecc.svg" | prepend: site.baseurl }}" title="ECC" data-toggle="tooltip">
						</div>
					</div>
					<input type="text" class="form-control donation-address-input" readonly value="ESnoQdpHH5vLafzj9nvXqRugPSkd2ZNrch">
				</div>
			</div>
			<div class="row donation-addresses-container">
				<div class="input-group">
					<div class="input-group-prepend">
            			<div class="input-group-text">
							<img class="crypto-icon" src="{{ "/assets/img/ltc.svg" | prepend: site.baseurl }}" title="LTC" data-toggle="tooltip">
						</div>
					</div>
					<input type="text" class="form-control donation-address-input" readonly value="LPADrS2UjUXjYikZd3y3jv6MeZSHP5HukT">
    			</div>
			</div>
        </div>
    </div>
</section>

{% include _footer.html %}
<script src="{{ "/assets/js/donate.js" | prepend: site.baseurl }}"></script>
