{% include _header.html %}

<section id="get-ecc-container">
	<div class="container">
		<h1 class="fade-in">Get ECC</h1>
		<div id="how-to-buy-header" class="row"><h2 class="section-title">Where to buy <strong>ECC</strong></h2></div>
		<div class="row how-to-buy-container">
			<div class="offset-md-2 col-md-4 text-center exchange-container">
				<div id="nextexchange-video-toggle" class="video-thumbnail"></div>
				<a href="https://next.exchange/" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					Visit NextExchange
				</a>
			</div>
			<div class="col-md-4 text-center exchange-container">
				<div id="crex24-video-toggle" class="video-thumbnail"></div>
				<a href="https://crex24.com/" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					Visit Crex24
				</a>
			</div>
		</div>
		<div class="row how-to-buy-container">
			<div class="offset-md-2 col-md-4 text-center exchange-container">
				<div id="blockdx-video-toggle" class="video-thumbnail"></div>
				<a href="https://docs.blocknet.co/blockdx/setup/" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					Visit Block DX
				</a>
			</div>
			<div class="col-md-4 text-center exchange-container">
				<div id="c-patex-video-toggle" class="video-thumbnail"></div>
				<a href="https://c-patex.com/" class="btn btn-primary btn-lg btn-icon">
					<span class="fa fa-external-link"></span>
					Visit C-Patex
				</a>
			</div>
		</div>
		<div id="coins-img" class="text-center">
			<img src="{{ "/assets/img/coins.png" | prepend: site.baseurl }}">
		</div>
	</div>
</section>

{% include _footer.html %}
